<script lang="ts">
  import TMDBConnect from "../TMDBConnect";
  import type { TMDBMovie } from "../types";


  export let tmdb_id:string;
  let movieDetails:TMDBMovie = null;

  // get movie details
  $: TMDBConnect.getMovie(tmdb_id).then(r => movieDetails = r)

</script>

<div>
  <div class="rounded-lg group">
  <div class=" w-48 h-[300px]  relative group-hover:scale-[0.98]"  >
    {#if movieDetails != null}
      <img style="width: 100%; height: 100%;" class="bg-danger rounded group-hover:blur-sm group-hover:brightness-50" src={TMDBConnect.getImageURL(movieDetails.poster_path)} alt="movie-poster"/>
      <div class="font-large uppercase font-bold text-white w-48 text-center hidden group-hover:inline-flex absolute top-24">
        <div class="ml-auto mr-auto">{movieDetails.title}</div>
      </div>
      <div class="font-semibold">{movieDetails.title}</div>
    {/if}
  </div>
</div>
</div>
