<script lang="ts">
	import {MovieList} from "./data/data"
  import MovieDetailPage from "./MovieDetailPage.svelte";
  import MovieSelectionPage from "./MovieSelectionPage.svelte";
  import type { MovieCues } from "./types";

	let currentID = ""
	let currentCue:MovieCues = null;
	function handleClick(msg){
		currentCue = msg.detail.movie
		currentID = msg.detail.movie.tmdbID;
	}
</script>

<main class="w-full h-full">
	<!-- Nav -->
	<div class="flex w-full bg-cue2 h-12">
		<div on:click={()=> currentID = ""} class="text-4xl font-bold ml-auto mr-auto cursor-pointer">CueDB</div>
	</div>
	
	<!-- SPA -->
	<div class="h-full">
	{#if currentID === ""}
		<MovieSelectionPage on:cardClick={handleClick} />
	{:else}
		<MovieDetailPage cues={currentCue} tmdbID={currentID}/>
	{/if}
</div>
</main>

<style global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
