<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import MovieCard from "./components/MovieCard.svelte";
  import {MovieList} from "./data/data"
  import type { MovieCues } from "./types";
  const dispatch = createEventDispatcher();

  let searchInput = ""
  let filterActive = false

  let filteredMovieList = applyFilter(searchInput)

  function dispatchClick(movie:MovieCues){
    dispatch("cardClick",{movie})
  }


  function applyFilter(searchInput: string): MovieCues[] {
    if(searchInput == "") return MovieList;
    return MovieList.filter(e => e.title.toLowerCase().includes(searchInput.toLowerCase()) || e.composer.toLowerCase().includes(searchInput.toLowerCase()))
  }
  function filterBtnClicked(){
    if(searchInput == "") return;
    if (filterActive) {
      filterActive = false;
      searchInput = ""
      filteredMovieList = applyFilter("")
    }
    else {
      filterActive = true;
      filteredMovieList = applyFilter(searchInput)
    }
  }
</script>

<div class="px-12 pt-2">
  <div class="flex">
    <input type=text placeholder="search by title or composer" bind:value={searchInput} class="border-2 border-gray rounded-md px-2 py-1 mb-2"/>
    <button on:click={()=>filterBtnClicked()} class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">{filterActive?"clear":"filter"}</button>
  </div>
  <div>(Showing {Math.min(27, filteredMovieList.length)} of {filteredMovieList.length})</div>
  <div class="flex flex-wrap gap-2">
    {#each filteredMovieList.sort((a,b) => (a.title > b.title)?1:-1).slice(0,27) as movie}
    <div on:click={() => dispatchClick(movie)}>
      <MovieCard tmdb_id={movie.tmdbID}/>
    </div>
    {/each}
  </div>
</div>