<script lang="ts">
  import TMDBConnect from "./TMDBConnect";
  import type { MovieCues } from "./types";


  export let tmdbID:string;
  export let cues:MovieCues;

  function getYear(date:string){
    const dateDate = new Date(date)
    return dateDate.getFullYear()
  }

</script>

<div class="h-full">
  {#await TMDBConnect.getMovie(tmdbID)}
    <div>Loading</div>
  {:then result} 
    <div style={`background-image: url('${TMDBConnect.getImageURL(result.backdrop_path)}'); background-repeat: no-repeat; background-attachment: scroll; background-size: cover;`} 
    class="w-full h-full">
  <div class="w-full h-full flex">
    <div class="ml-auto mr-auto bg-cue1 bg-opacity-80 w-2/4 p-4 rounded-md mb-20 mt-6 overflow overflow-x-hidden overflow-scroll" style="backdrop-filter: blur(10px);">
      <div class="flex">
        <div class="text-xl font-bold">{result.title}</div>
      <div class="text-xl ml-2">({getYear(result.release_date)})</div>
    </div>
    <div>Music by: {cues.composer}</div>
    <div>Source: {cues.cueSource}</div>
    <table class="table-auto">
    {#each cues.cues as cue}
      <tr>
        <td class="font-bold mr-2">{cue.cueNumber.trim()}</td>
        <td class="">{cue.title.trim()}</td>
      </tr>
    {/each}
    </table>
    </div>
    </div>
  </div>
  {/await}
</div>